# networks/plausible.network

[Unit]
Description=Isolated bridge network for Plausible stack

[Network]
NetworkName=plausible
Driver=bridge
Label=net.matrix.owner=FC13F74B@matrix.net
Label=net.matrix.project=plausible-quadlet-setup
